<html>

<head>
	<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
	<meta name=Generator content="Microsoft Word 15 (filtered)">
	

</head>

<body lang=EN-US>

	<div class=WordSection1>

		<div style='border:none;border-bottom:solid windowtext 1.5pt;padding:0cm 0cm 1.0pt 0cm;
margin-left:35.45pt;margin-right:140.55pt'>

			<p class=MsoNormal align=center style='margin-bottom:3.0pt;text-align:center;
line-height:normal;border:none;padding:0cm'><span
					style='font-size:14.0pt;
font-family:"Times New Roman",serif'>
			<h3>Yuklab olingan vaqt: </h3> <h3 style="color: red;"><%= vaqt %></h3>		<img width=120 height=120 src=<%= qr %> ></span></p>

			<p class=MsoNormal align=right style='margin-bottom:3.0pt;text-align:right;
line-height:normal;border:none;padding:0cm'><span style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		</div>

		<p class=MsoNormal align=right style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:3.0pt;margin-left:35.45pt;text-align:right;line-height:normal'><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=right style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:3.0pt;margin-left:35.45pt;text-align:right;line-height:normal'><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'>Buxoro davlat
				universiteti rektori</span></p>

		<p class=MsoNormal align=right style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:3.0pt;margin-left:35.45pt;text-align:right;line-height:normal'><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'>O.X.Hamidovga
				<h3 style="color: red;"><%= fakultet %> </h3>fakulteti</span></p>

		<p class=MsoNormal align=right style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:3.0pt;margin-left:35.45pt;text-align:right;line-height:normal'><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'><h3 style="color: red;"><%= guruh %></h3> 
				guruh talabasi </span></p>

		<p class=MsoNormal align=right style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:3.0pt;margin-left:35.45pt;text-align:right;line-height:normal'><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'><h3 style="color: red;"><%= fish %></h3>  tomonidan</span>
		</p>

		<p class=MsoNormal align=center style='text-align:center'><span lang=UZ-CYR
				style='font-size:14.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='text-align:center'><b><span
					style='font-size:14.0pt;line-height:107%;font-family:"Times New Roman",serif'>ARIZA</span></b></p>

		<p class=MsoNormal align=center style='text-align:center'><span lang=UZ-CYR
				style='font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:center;
line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;font-family:"Times New Roman",serif'>Ushbu
				arizani yozib malum qilamanki menga hozirgi vaqtda </span></p>

		<p class=MsoNormal align=center style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:center;
line-height:normal'><span lang=UZ-CYR
				style='font-size:14.0pt;font-family:"Times New Roman",serif'>
				<h3 style="color: red;"><%= sabab %></h3> 
			</span></p>

		<p class=MsoNormal align=center style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:center;
line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:center;
line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-top:0cm;margin-right:140.55pt;
margin-bottom:0cm;margin-left:42.55pt;margin-bottom:.0001pt;text-align:center;
line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;font-family:"Times New Roman",serif'>
				sababli akademik tatil berishingizni sorayman.</span></p>

		<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span style='font-size:14.0pt;font-family:
"Times New Roman",serif'>Sana:</span><span style='font-size:14.0pt;font-family:
"Times New Roman",serif'> </span><span style='font-size:14.0pt;font-family:
"Times New Roman",serif'><%= sana %> Imzo:
			</span><span style='font-size:14.0pt;font-family:"Times New Roman",serif'></span><span
				style='font-size:14.0pt;font-family:"Times New Roman",serif'>______________</span></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

		<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'><span lang=UZ-CYR style='font-size:14.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

	</div>

</body>

</html>